#jinja2: lstrip_blocks: "True", trim_blocks: "True"
# {{ ansible_managed }}
hostname = {{ dovecot_hostname }}
postmaster_address = {{ dovecot_postmaster }}
{% if dovecot_location is defined %}

mail_location = {{ dovecot_format }}:{{ dovecot_location }}
{% endif %}
{% if dovecot_format == "mdbox" %}

mdbox_rotate_size = 10M
mdbox_rotate_interval = 10d
{% endif %}

# disable plain text imap and pop3
service pop3-login {
  inet_listener pop3 {
    port = 0
  }
}
service imap-login {
  inet_listener imap {
    port = 0
  }
}
{% if dovecot_add_config is defined %}

{{ dovecot_add_config }}
{%- endif %}
