#jinja2: lstrip_blocks: "True", trim_blocks: "True"
# {{ ansible_managed }}
hostname = {{ dovecot_hostname }}
postmaster_address = {{ dovecot_postmaster }}

first_valid_uid = 1000
last_valid_uid = {{ dovecot_last_valid_uid }}
{% if dovecot_location is defined %}

mail_location = {{ dovecot_format }}:{{ dovecot_location }}
{% endif %}
{% if dovecot_format == "mdbox" %}

mdbox_rotate_size = 10M
mdbox_rotate_interval = 10d
{% endif %}

lda_mailbox_autocreate = yes
lda_mailbox_autosubscribe = yes

# enable imap compression
protocol imap {
  mail_plugins = $mail_plugins imap_zlib
}
{% if dovecot_sieve %}

# enable sieve
protocol lda {
  mail_plugins = $mail_plugins sieve
}
protocol lmtp {
  mail_plugins = $mail_plugins sieve
}

plugin {
  sieve_plugins = sieve_extprograms
  sieve_global_extensions = +vnd.dovecot.filter
  sieve_filter_bin_dir = /etc/dovecot/sieve/filter.d
  sieve_filter_exec_timeout = 20s

  sieve_before = /etc/dovecot/sieve/before.sieve
  sieve_default = /etc/dovecot/sieve/default.sieve
}
{% endif %}

# disable plain text pop3 and imap
service pop3-login {
  inet_listener pop3 {
    port = 0
  }
}
service imap-login {
  inet_listener imap {
    port = 0
  }
}
# disable legacy managesieve
service managesieve-login {
  inet_listener sieve_deprecated {
    port = 0
  }
}
{% if dovecot_add_config is defined %}

# local configuration
{{ dovecot_add_config }}
{%- endif %}
