#jinja2: lstrip_blocks: "True", trim_blocks: "True"
# {{ ansible_managed }}
table aliases file:{{ opensmtpd_aliases }}

{% if ansible_lo0 is defined %}
listen on lo0
{% else %}
listen on lo
{% endif %}

{% if not (opensmtpd_relay_only and opensmtpd_relay_via is defined) %}
accept for local alias <aliases> deliver to mbox
{% endif %}
accept from local for any relay
{%- if opensmtpd_relay_via is defined %}
 via smtp+tls://{{ opensmtpd_relay_via }}
{%- endif %}
{% if opensmtpd_relay_as is defined %}
 as "@{{ opensmtpd_relay_as }}"
{% endif %}
