#jinja2: lstrip_blocks: "True", trim_blocks: "True"
# {{ ansible_managed }}
{% if rsyslog_remote_udp is defined %}
# Forward to remote UDP server
*.*	@{{ rsyslog_remote_udp }}
{% endif %}
{% if rsyslog_remote_tcp is defined %}
# Forward to remote TCP server
$ActionQueueFileName {{ rsyslog_remote_tcp.replace(":", ".") }}
$ActionQueueMaxDiskSpace 1G
$ActionQueueSaveOnShutdown on
$ActionQueueType LinkedList
$ActionResumeRetryCount -1
  {% if rsyslog_tls %}
# Require TLS
$ActionSendStreamDriverMode 1
$ActionSendStreamDriverAuthMode x509/name
$ActionSendStreamDriverPermittedPeer {{ rsyslog_remote_tcp.split(":")[0] }}
  {% endif %}
*.*	@@{{ rsyslog_remote_tcp }}
{% endif %}
