#jinja2: lstrip_blocks: "True", trim_blocks: "True"
<VirtualHost {{ item[1].addr|default("*") }}:{{ item[1].port|default(80) }}>
  ServerName {{ item[1].name }}
{% for alias in item[1].aliases|default([]) %}
  ServerAlias {{ alias }}
{% endfor %}
  DocumentRoot /srv/www/htdocs/{{ item[1].name }}
  ErrorLog /srv/www/log/{{ item[1].name }}/error_log
  CustomLog /srv/www/log/{{ item[1].name }}/access_log combined
{% if item[1].canonicalize_hostname|default(false) %}

  RewriteEngine On
  RewriteCond %{HTTP_HOST} !={{ item[1].name }} [NC]
  RewriteRule ^ http://{{ item[1].name }}%{REQUEST_URI} [R=301,L]

{% endif %}
  IncludeOptional conf.sites.d/{{ '%02d'|format(item[0]) }}-{{ item[1].name }}.conf.d/*.conf
</VirtualHost>
