#jinja2: lstrip_blocks: "True", trim_blocks: "True"
*filter
:INPUT ACCEPT [0:0]
:FORWARD DROP [0:0]
:OUTPUT ACCEPT [0:0]
-A INPUT -m state --state ESTABLISHED,RELATED -j ACCEPT
-A INPUT -p icmp -j ACCEPT
-A INPUT -i lo -j ACCEPT
{% for rule in firewall_raw %}
{{ rule }}
{% endfor %}
{% for rule in firewall_in %}
  {% if rule.from is defined %}
    {% for from in [rule.from]|flatten|ipv4 %}
      {% for port in [rule.port]|flatten %}
-A INPUT -m state --state NEW -m {{ rule.proto }} -p {{ rule.proto }} -s {{ from }} --dport {{ port }} -j ACCEPT
      {% endfor %}
    {% endfor %}
  {% else %}
    {% for port in [rule.port]|flatten %}
-A INPUT -m state --state NEW -m {{ rule.proto }} -p {{ rule.proto }} --dport {{ port }} -j ACCEPT
    {% endfor %}
  {% endif %}
{% endfor %}
-A INPUT -j REJECT --reject-with icmp-host-prohibited
-A FORWARD -j REJECT --reject-with icmp-host-prohibited
COMMIT
